.app-header {
    background-color: #052849;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 15px 0px 15px 25px;
  }

  .logo {
    height: 30px;
    padding: 5px;
    border-bottom: white solid 5px;
  }

  .link {
    color: #61dafb;
  }